{% load static %}
<html lang="fr">
<head>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} home {% endblock title %}  </title>
</head>
<body>
    <div class="body" >
    <div class="head">
    {% include 'header.html' %}
    </div>

    {% include 'nav.html' %}

    {% block content %}
    
    {% endblock content %}

    {% include 'footer.html' %}
    </div>
</body>
</html>


